.footer{
    background-color: $DarkBlue;
    color: $White;
    padding: 2.5rem;
    text-align: center;

    .container{
        @include break-up(large) {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 3fr;
            grid-template-rows: 1fr auto;
            gap: 1rem;
            grid-template-areas: 
            "logo links1 links2 cta"
            "social links1 links2 copyright";
            justify-items: start;
            text-align: left;
        }
    }
    a{
        color: $White;
    }

    &-logo {
        display: inline-block;
        @include break-down(medium) {
            margin-bottom: 1.875rem;
        }

        @include break-up(large) {
            grid-area: logo;
        }
    }

    &-social-links{
        height: 1.25rem;

        @include break-down(medium) {
            margin-bottom: 1.875rem;
        }

        a{
            display: inline-block;
            height: 1.25rem;

            svg path{
                transition: fill 150ms ease-in-out;
            }
            &:hover svg path{
                fill: $LimeGreen;
            }
        }
        a:not(:last-child){
            margin-right: 1rem;
        }

        @include break-up(large) {
            grid-area: social;
            align-self: flex-end;
        }
    }

    &-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9375rem;

        @include break-up(large) {
            align-items: start;
            justify-content: space-between;
        }

        &.col1{
            @include break-up(large) {
                grid-area: links1;
            }
        }
        &.col2{
            @include break-down(medium) {
                margin-bottom: 1.875rem;
            }

            @include break-up(large) {
                grid-area: links2;
            }
        }
        a{
            transition: color 150ms ease-in-out;

            @include break-down(medium) {
                line-height: 2;
            }

            &:hover{
                color: $LimeGreen;
            }
        }
    }

    &-cta{
        @include break-up(large) {
            grid-area: cta;
            text-align: right;
            justify-self: end;
        }

        a.button{
            @include break-down(medium) {
                margin-bottom: 1.875rem;
            }
        }
    }
    &-copyright{
        font-size: 0.8125rem;
        color: $GrayishBlue;

        @include break-up(large) {
            grid-area: copyright;
            text-align: right;
            justify-self: end;
           align-self: flex-end;
           margin-top: 1.5rem;
        }
    }
}