.hero{
    background-color: $VeryLightGray;
    
    .container{
        @include break-up(large) {
            display: flex;
            align-items: center;
        }
    }

    &-image{
        position: relative;
        background: url('images/bg-intro-mobile.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 17.5rem;

        @include break-up(medium) {
            min-height: 25rem;
        }
        @include break-up(large) {
            flex: 3;
            order: 2;
            height: 40rem;
            background-image: none;
            // background: url('/images/bg-intro-desktop.svg');
            // background-position: left center;
        }

        &::before{
            // content: '';
            // position: absolute;
            // background: url('/images/bg-intro-desktop.svg');
            // background-repeat: no-repeat;
            // background-position: center bottom;
            // background-size: 92%;
            // width: 100%;
            // height: 100%;  

            // @include break-up(medium) {
            //     background-size: 50%;
            // }
            @include break-up(large) {
                 content: '';
                position: absolute;
                background: url('images/bg-intro-desktop.svg');
                background-repeat: no-repeat;
                width: 150%;
                height: 100%;
                background-size: 120%;
                background-position: 0% 70%;
            }
        }

        &::after{
            content: '';
            position: absolute;
            background: url('images/image-mockups.png');
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: 92%;
            width: 100%;
            height: 100%;  

            @include break-up(medium) {
                background-size: 70%;
            }
            @include break-up(large) {
                left: 35%;
                background-size: 100%;
            }
        }
    }
    
    &-text{
        text-align: center;
        @include break-up(large) {
            flex: 2;
            order: 1;
            text-align: left;
        }
    }
}