.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  color: hsl(233, 8%, 62%);
  font-weight: 300;
  overflow-x: hidden;
}
body.no-scroll {
  overflow: hidden;
}
@media (min-width: 64em) {
  body {
    font-size: 1.25rem;
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}
.d-flex-jc {
  justify-content: center;
}
.d-flex-jb {
  justify-content: space-between;
}
.d-flex-ac {
  align-items: center;
}

h1, h2, h3 {
  color: hsl(233, 26%, 24%);
  font-weight: 300;
  line-height: 1.25;
  margin-top: 0px;
}

h1 {
  font-size: 2.31rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 64em) {
  h1 {
    font-size: 3.25rem;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}
@media (min-width: 64em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a, a:visited {
  text-decoration: none;
}

button, .button {
  position: relative;
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  font-size: 0.875rem;
}
button::before, .button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
button:hover::before, .button:hover::before {
  opacity: 1;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}
.container-pall {
  padding-inline: 1.5rem;
  padding-block: 4.375rem;
}
@media (max-width: 87.4375em) {
  .container-pall {
    padding-block: 6rem;
  }
}
.container-pt {
  padding-top: 4.375rem;
}
@media (max-width: 87.4375em) {
  .container-pt {
    padding-top: 6rem;
  }
}
.container-pb {
  padding-bottom: 4.375rem;
}
@media (max-width: 87.4375em) {
  .container-pb {
    padding-bottom: 6rem;
  }
}
.container-pr {
  padding-right: 1.5rem;
}
.container-pl {
  padding-left: 1.5rem;
}
.container-py {
  padding-block: 4.375rem;
}
@media (max-width: 87.4375em) {
  .container-py {
    padding-block: 6rem;
  }
}
.container-px {
  padding-inline: 1.5rem;
}

@media (max-width: 63.9375em) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-desktop {
    display: none;
  }
}

.header.open .header-hamburger > span:first-child {
  transform: rotate(45deg);
}
.header.open .header-hamburger > span:nth-child(2) {
  opacity: 0;
}
.header.open .header-hamburger > span:last-child {
  transform: rotate(-45deg);
}
.header-menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%);
  background: hsl(0, 0%, 100%);
  padding: 1.625rem;
  margin-top: 1.5rem;
  border-radius: 3px;
  z-index: 1;
}
.header-menu a {
  display: block;
  color: hsl(233, 26%, 24%);
  padding: 0.625rem;
  text-align: center;
}
.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(hsl(233, 26%, 24%), transparent);
}
.header-logo img {
  width: 8.1rem;
  height: 1.3rem;
}
.header nav {
  position: relative;
  background-color: hsl(0, 0%, 100%);
  padding-block: 1.0625rem;
}
.header-hamburger > span {
  display: block;
  height: 2px;
  width: 26px;
  background-color: hsl(233, 26%, 24%);
  transform-origin: 3px 1px;
  transition: all 300ms ease-in-out;
}
.header-hamburger > span:not(:last-child) {
  margin-bottom: 5px;
}
.header-links a {
  position: relative;
  color: hsl(233, 8%, 62%);
}
.header-links a:not(:last-child) {
  margin-right: 32px;
}
.header-links a::before {
  position: absolute;
  content: "";
  display: block;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.header-links a:hover {
  color: hsl(233, 26%, 24%);
}
.header-links a:hover::before {
  opacity: 1;
}

.hero {
  background-color: hsl(0, 0%, 98%);
}
@media (min-width: 64em) {
  .hero .container {
    display: flex;
    align-items: center;
  }
}
.hero-image {
  position: relative;
  background: url("/images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 17.5rem;
}
@media (min-width: 40em) {
  .hero-image {
    min-height: 25rem;
  }
}
@media (min-width: 64em) {
  .hero-image {
    flex: 3;
    order: 2;
    height: 40rem;
    background-image: none;
  }
}
@media (min-width: 64em) {
  .hero-image::before {
    content: "";
    position: absolute;
    background: url("/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    width: 150%;
    height: 100%;
    background-size: 120%;
    background-position: 0% 70%;
  }
}
.hero-image::after {
  content: "";
  position: absolute;
  background: url("/images/image-mockups.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 92%;
  width: 100%;
  height: 100%;
}
@media (min-width: 40em) {
  .hero-image::after {
    background-size: 70%;
  }
}
@media (min-width: 64em) {
  .hero-image::after {
    left: 35%;
    background-size: 100%;
  }
}
.hero-text {
  text-align: center;
}
@media (min-width: 64em) {
  .hero-text {
    flex: 2;
    order: 1;
    text-align: left;
  }
}

.feature {
  background-color: hsl(220, 16%, 96%);
  text-align: center;
}
@media (min-width: 64em) {
  .feature {
    text-align: left;
  }
}
.feature-intro {
  margin-bottom: 3.75rem;
}
@media (min-width: 64em) {
  .feature-intro {
    width: 60%;
  }
}
@media (min-width: 40em) {
  .feature-grid {
    display: flex;
    flex-wrap: wrap;
  }
}
.feature-item {
  padding: 0.9375rem;
}
@media (min-width: 40em) {
  .feature-item {
    flex: 1 0 50%;
  }
}
@media (min-width: 64em) {
  .feature-item {
    flex: 1;
  }
}
.feature-icon {
  margin-bottom: 1.875rem;
}
@media (min-width: 64em) {
  .feature-icon {
    margin-bottom: 2.75rem;
  }
}
.feature-title {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.25;
  color: hsl(233, 26%, 24%);
  margin-bottom: 1rem;
}
@media (min-width: 64em) {
  .feature-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.feature-desc {
  font-size: 1rem;
  line-height: 1.5;
}

.article {
  background-color: hsl(0, 0%, 98%);
}
.article-grid {
  display: grid;
  gap: 1.875rem;
  grid-template-columns: 1fr;
}
@media (min-width: 40em) {
  .article-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 64em) {
  .article-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.article-item {
  border-radius: 0.3125rem;
  overflow: hidden;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  background-color: hsl(0, 0%, 100%);
  transition: all 200ms ease-in-out;
}
.article-item:hover {
  transform: scale(1.05);
}
.article-img {
  height: 12.5rem;
  background-position: center center;
  background-size: cover;
}
.article-text {
  padding: 1.875rem 2.5rem;
  color: hsl(233, 8%, 62%);
}
@media (min-width: 40em) {
  .article-text {
    padding: 1.875rem 1.5625rem;
  }
}
.article-author {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}
.article-info {
  font-size: 1.0625rem;
  color: hsl(233, 26%, 24%);
  margin-bottom: 0.5rem;
}
.article-desc {
  font-size: 0.8125rem;
}

.footer {
  background-color: hsl(233, 26%, 24%);
  color: hsl(0, 0%, 100%);
  padding: 2.5rem;
  text-align: center;
}
@media (min-width: 64em) {
  .footer .container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 3fr;
    grid-template-rows: 1fr auto;
    gap: 1rem;
    grid-template-areas: "logo links1 links2 cta" "social links1 links2 copyright";
    justify-items: start;
    text-align: left;
  }
}
.footer a {
  color: hsl(0, 0%, 100%);
}
.footer-logo {
  display: inline-block;
}
@media (max-width: 63.9375em) {
  .footer-logo {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 64em) {
  .footer-logo {
    grid-area: logo;
  }
}
.footer-social-links {
  height: 1.25rem;
}
@media (max-width: 63.9375em) {
  .footer-social-links {
    margin-bottom: 1.875rem;
  }
}
.footer-social-links a {
  display: inline-block;
  height: 1.25rem;
}
.footer-social-links a svg path {
  transition: fill 150ms ease-in-out;
}
.footer-social-links a:hover svg path {
  fill: hsl(136, 65%, 51%);
}
.footer-social-links a:not(:last-child) {
  margin-right: 1rem;
}
@media (min-width: 64em) {
  .footer-social-links {
    grid-area: social;
    align-self: flex-end;
  }
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9375rem;
}
@media (min-width: 64em) {
  .footer-links {
    align-items: start;
    justify-content: space-between;
  }
}
@media (min-width: 64em) {
  .footer-links.col1 {
    grid-area: links1;
  }
}
@media (max-width: 63.9375em) {
  .footer-links.col2 {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 64em) {
  .footer-links.col2 {
    grid-area: links2;
  }
}
.footer-links a {
  transition: color 150ms ease-in-out;
}
@media (max-width: 63.9375em) {
  .footer-links a {
    line-height: 2;
  }
}
.footer-links a:hover {
  color: hsl(136, 65%, 51%);
}
@media (min-width: 64em) {
  .footer-cta {
    grid-area: cta;
    text-align: right;
    justify-self: end;
  }
}
@media (max-width: 63.9375em) {
  .footer-cta a.button {
    margin-bottom: 1.875rem;
  }
}
.footer-copyright {
  font-size: 0.8125rem;
  color: hsl(233, 8%, 62%);
}
@media (min-width: 64em) {
  .footer-copyright {
    grid-area: copyright;
    text-align: right;
    justify-self: end;
    align-self: flex-end;
    margin-top: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */