$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);
$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

$Linearbackground: linear-gradient(to right, $LimeGreen, $BrightCyan);

$font52: 3.25rem;
$font20: 1.25rem;
$font18: 1.125rem;
$font14: 0.875rem;
