.header {

    //hamburger open styles
    &.open {
       
        .header-hamburger {
            >span:first-child {
                transform: rotate(45deg);
            }

            >span:nth-child(2) {
                opacity: 0;
            }

            >span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    &-menu{      
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        background: $White;
        padding: 1.625rem;
        margin-top: 1.5rem;
        border-radius: 3px;
        z-index: 1;

        a{
            display: block;
            color: $DarkBlue;
            padding: 0.625rem;
            text-align: center;
        }
    }
    .overlay {
        opacity: 0;
        position: fixed;
        top: 0; //67px;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient($DarkBlue, transparent);
    }

    &-logo {
        img {
            width: 8.1rem;
            height: 1.3rem;
        }
    }

    nav {
        position: relative;
        background-color: $White;
        padding-block: 1.0625rem;
    }

    &-hamburger {
        >span {
            display: block;
            height: 2px;
            width: 26px;
            background-color: $DarkBlue;
            transform-origin: 3px 1px;
            transition: all 300ms ease-in-out;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &-links {
        a {
            position: relative;
            color: $GrayishBlue;
            // transition: color 200ms ease-in-out;

            &:not(:last-child) {
                margin-right: 32px;
            }

            &::before {
                position: absolute;
                content: '';
                display: block;
                height: 5px;
                left: 0;
                right: 0;
                bottom: -30px;
                background: $Linearbackground;
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }

            &:hover {
                color: $DarkBlue;

                &::before {
                    opacity: 1;
                }
            }
        }
    }
}
